name: "build-test"
on:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create a file
        run: |
          echo "Hello" > file.txt
      - name: Upload a file
        uses: ./
        with:
          dropbox_access_token: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
          src: file.txt
          dest: /test/my-file.txt
      - name: Update file
        run: |
          echo "Hello updated" > file.txt
      - name: Overwrite file on Dropbox
        uses: ./
        with:
          dropbox_access_token: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
          src: file.txt
          dest: /test/my-file.txt
          mode: overwrite
      - name: Create files
        run: |
          mkdir dist
          echo "Hello" > dist/file-0.txt
          echo "Hello" > dist/file-1.txt
      - name: Upload files
        uses: ./
        with:
          dropbox_access_token: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
          src: dist/*.txt
          dest: /test/
